@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  * {
    border-color: theme(colors.neutral.200);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
